html body {
  margin: 0;
  padding: 0;
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 300;
}

h1 {
  font-size: 4rem;
  color: white;
  font-weight: 700;
  padding-top: 15%;
  padding-bottom: 10%;
  text-shadow: 2px 2px 5px #444;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

a {
  color: #eb7900;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #ffa443;
}

header {
  background-image: url("https://matildamared.github.io/responsive-fox-site/images/fox-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0px;
  margin: 0px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
}

main {
  font-size: 1.3em;
  line-height: 1.5em;
  background-color: #FFF;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main ul {
  line-height: 1.7em;
}

main li {
  list-style-type: none;
}

main nav {
  background-color: #eb7900;
  padding: 2%;
  margin: 2%;
  width: 370px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main nav h3 {
  color: #ffa443;
  margin: 15px;
}

main nav a {
  color: #FFF;
}

main nav a:hover {
  color: #ffa443;
}

@media screen and (min-width: 768px) {
  main {
    font-size: 1.1em;
    background-color: #FFF;
    position: relative;
    margin-top: -100px;
    margin-bottom: -100px;
    margin-left: 7%;
    margin-right: 7%;
    padding: 15px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main p {
    font-size: 1.3em;
    line-height: 1.5em;
  }
  main h2 {
    font-size: 3em;
  }
  main h3 {
    font-size: 2.5em;
  }
  main ul {
    font-size: 1.3em;
  }
  main nav {
    width: 400px;
  }
  main nav h3 {
    color: #ffa443;
    margin: 5%;
  }
  main nav ul {
    font-size: 1.1em;
  }
  main nav ul ul {
    font-size: 1.0em;
  }
  main a {
    color: #eb7900;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
  }
  main a:hover {
    color: #ffa443;
  }
}

footer {
  background-color: #eb7900;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 1.3em;
  color: #FFF;
  text-align: center;
  margin: 10px;
}

footer a {
  color: #FFF;
  font-size: 1em;
}

footer a:hover {
  color: #ffa443;
}

@media screen and (min-width: 768px) {
  footer {
    height: 35vh;
  }
}

@media screen and (min-width: 768px) {
  section {
    padding: 3em;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  border-radius: 25px;
}

@media screen and (min-width: 1700px) {
  img {
    width: 60%;
  }
  figure {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

hr {
  border-color: #eb7900;
  width: 20%;
}
/*# sourceMappingURL=style.css.map */